.example {
  background-color: #7249ff;
  padding: 16px 4px 4px;
  border-radius: 12px;
}
.example-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.example-nav-list {
  display: flex;
  align-items: center;
  gap: 45px;
}
.example-heading {
  text-align: center;
  margin-bottom: 17px;
}
.example-account {
  display: flex;
  align-items: center;
  gap: 10px;
}
.example-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.example-subtitle {
  color: #ffffff;
  font-size: 12px;
}
.example-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-top: 90px;
  border-radius: 8px;
}
.example-actions {
  border-top: 1px solid #ededed;
  align-self: stretch;
  padding-block: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
